# Core Django
django
djangorestframework
psycopg2-binary
gunicorn

# Environment Variables
python-decouple

# Database URL parsing
dj-database-url

# Authentication
mozilla-django-oidc

# Third-party Services
africastalking

# Testing
coverage